@font-face {
    src: url(../fonts/base.ttf);
    font-family: "Arkhip";
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Arkhip";
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header, .footer {
    background-color: rgb(10, 10, 20);
}

.main {
    flex-grow: 1;
}

.main, .menu-button {
    background-color: rgb(25, 25, 40);
}

.menu {
    margin-top: 35px;
}

.header-text {
    font-size: 34px;
    color: rgb(255, 255, 255);
}

.main-text {
    margin: 20px auto;
    max-width: 1080px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.footer-text {
    margin: 10px;
    font-size: 20px;
    color: rgb(80, 0, 255);
}

.menu-button {
    margin: 0px 40px 0px 40px;
    padding: 12px;
    border-width: 0px;
    border-radius: 15px 15px 0px 0px;
    font-size: 22px;
    transition: 80ms;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.menu-button:hover {
    text-shadow:
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255);
}

.menu-button:active {
    text-shadow:
        0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 30px rgb(255, 255, 255);
}

.current-menu-button {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.icon {
    margin: 15px;
    vertical-align: middle;
}
