.web-ficus-p {
    display: inline-block; 
    padding: 10px;
    max-width: 500px;
    max-height: 100px;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    color: white; 
  }

.container {
    display: flex;
    justify-content: space-between;
}
.paragraph {
    flex: 1;
    margin: 0 10px;
  }
.border-line{
  display: flex;
  border: 2px solid white;
  margin: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width : 768px) {
  .border-line {
    flex-direction: column;
    width: auto;
  }

  .paragraph {
    padding: 0;
  }
}