.web-ficus-p {
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    border-image: linear-gradient(to right, #ff0000, #00ff00);
    border-image-slice: 1;
    max-width: 500px;
    max-height: 100px;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    color: white;
  }

.container {
    display: flex;
    justify-content: space-between;
}
.paragraph {
    flex: 1;
    margin: 0 10px;
  }